@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&family=Quicksand&display=swap');
$primary-color:  rgb(230, 230, 230);

  h4{
    position: sticky;
    bottom: 0%;
    // margin-top: 200px;
    color: rgb(181, 181, 181);
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    margin: 25px;
  }