@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&family=Quicksand&display=swap');

h5{
  margin-left: 30px;
  font-size: 2.5vw;
  font-family: 'Quicksand', sans-serif;
}
