@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&family=Quicksand&display=swap');
$primary-color:  rgb(230, 230, 230);


body{
  background-image:  url('https://images.unsplash.com/photo-1550537687-c91072c4792d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80');;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  
  
  .select-option{
    margin-top: 60px;
    background-color: rgba(255, 255, 255, .1);
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    color: $primary-color;
  }

  .input-section{
    margin-top: 100px;
    margin-left: 20px;
  }

  .select-header{
    color: $primary-color;
    font-family: 'Quicksand', sans-serif;
  }


  h4{
    color: rgb(181, 181, 181);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
  }
  .input-field {
    margin-left: 10px;
    width: 300px;
  }

  .submit-btn {
    margin-top: 15px;
    width: 80px;
  }
}